
body {
    background-color: #fffff0;
}

table {

    transform: translateX(111.5%);
    border-collapse: collapse; /* removes extra spacing entirely */
    border-spacing: 0;
}

h1 {
    text-align: center;
}
.img-selected {

    background-color: #e1d07b;
}
td {
    background-color: beige;
    width: 56px;
    height: 56px;
}
tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
    background: #e6dec1;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    outline: 3px solid black; /* does NOT change size */
    aspect-ratio: 1/1;
}
.Dane {
    margin-top: 15px;
    display: flex;
    width: 100%;
    background-color: beige;
    justify-content: center;
    align-items: center;
    text-align: center;
}

